.main {
  margin-left: clamp(0.938rem, 7.589vw - 2.857rem, 6.25rem);
  margin-top: clamp(1.563rem, 15.625vw - 6.25rem, 12.5rem);
  h1 {
    font-size: clamp(2.063rem, 2.411vw + 0.857rem, 3.75rem);
  }
  h2 {
    color: var(--accent-text-color);
    font-size: clamp(1.375rem, 1.161vw + 0.795rem, 2.188rem);
    margin-bottom: 30px;
  }
  h1,
  h2 {
    font-weight: 400;
  }
  .hello {
    font-size: clamp(0.75rem, 0.357vw + 0.571rem, 1rem);
    font-weight: 100;
  }
  .textInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .variablesBlock {
    transition: 0.3s;
    font-size: clamp(0.75rem, 0.446vw + 0.527rem, 1.063rem);
    .comment {
      font-style: italic;
      color: gray;
      transition: 0.3s;
    }
    &:hover {
      scale: 1.05;
      .comment {
        color: white;
      }
    }
  }
  .variable {
    font-weight: 100;
    .const {
      color: #c678dd;
    }
    .name {
      color: #e06c75;
    }
    .value {
      color: rgb(152, 195, 121);
    }
    .equal {
      color: rgb(86, 182, 194);
    }
  }
}
